@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 6.25%;
		scroll-behavior: smooth;
		box-sizing: border-box;
	}

	body {
		position: relative;
		font-size: 16em;
		text-rendering: geometricPrecision;
	}
}